<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!--
    <appender name="OpenTelemetry"
              class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
    </appender>
    -->

    <!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:/IBM/personalPOC/logs/product-service.log</file>
        <append>true</append> -->
        <!-- set immediateFlush to false for much higher logging throughput
        <immediateFlush>true</immediateFlush>
         encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <!--
    <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
    -->
</configuration>